* {
    box-sizing: border-box;
    margin: auto;
}

img {
    max-width: 100%;
    width: 250px;
    border-radius: 10px;
    margin: 20px auto;
}

div {
    display: grid;
    padding: 40px;
}

h2 {
    padding: 20px;
    text-align: center;
    transition: 1s;
}

button {
    padding: 15px;
    background: #FEA685;
    color: #333;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

button:hover {
   background: #FF7260;
}